{% extends 'abc.html' %}

{% block title %}mca101{% endblock %}

{% block content %}
<h2>Discrete Mathematical Structures[DMS]</h2>
<p>UNIT-I</p>
<p>Logic and Proof: Propositional Logic, Propositional, Predicators and Quantifiers,
Nested Quantifiers, Rules of Inference, Induction to Proofs, Proof Methods and
Strategies.</p>
<p>UNIT-II</p>
<p>Induction and Recursion: Mathematical Induction, Strong Induction and Well
Ordering, Recursive Definitions and Structural Induction, Recursive Algorithms.</p>
<p>UNIT-III</p>
<p>Counting: The basics of counting, The Pigeonhole Principle, Permutations and
Combinations, Binomial Coefficients, Generalized permutations and Combination,
Generating Permutations and Combinations.</p>
<p>UNIT-IV</p>
<p>Advanced Counting Techniques: Recurrence Relations, Solving Linear Recurrence
Relations, Divide and Conquer algorithms and Recurrence Relations, Inclusion –
Exclusion, Applications of Inclusion – Exclusion.</p>
<p>UNIT – V</p>
<p>Graphs: Graphs And Graph Methods, Graph Terminology And Special Types of
Graphs, Representing Graphs and Graphs Isomorphism, Connectivity, Euler and
Hamilton Paths, Shortest-Path Problems, Planar Graphs, Graph Coloring</p>
{% endblock %}