{% extends "master.html" %}
{% block content %}
<style>
  table {
    margin-top: 100px;
    margin-left: 250px;
  }
</style>
<h2>Employee Records (Delete Option)</h2>
<table border="1">
  <tr>

    <th>First Name</th>
    <th>Last Name</th>
    <th>Mobile</th>
    <th>Email</th>
    <th>Delete</th>
  </tr>
  {% for row in data %}
  <tr>

    <td>{{ row.first_name }}</td>
    <td>{{ row.last_name }}</td>
    <td>{{ row.mobile}}</td>
    <td>{{ row.email}}</td>
    <td>
      <a href="{% url 'delete_employee' row.id %}" onclick="return confirm('Delete this employee?');">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}