{% extends 'abc.html' %}

{% block title %}mca102{% endblock %}

{% block content %}
<h2>Oops with Java</h2>
<p>UNIT-I</p>
<p>Introduction: Object Oriented Programming Concepts, Features of Java Language,
Architecture, Data Types, Variables, Operators, Control Structures, Arrays. Class :
Classes, Wrapper Classes, Constructors, Overloading of methods, Access control,
Nested and Inner classes, Abstract classes. Inheritance: Inheritance basics, Using
Super, Multilevel hierarchy, Method overriding, Dynamic method dispatch, Final
with inheritance.</p>
<p>UNIT-II</p>
<p>Math Class and Methods, Packages and Interfaces, Exception Handling: fundamentals,
exception types, uncaught exceptions, using try, nested try statements, throw, throws,
Java built-in exceptions, user defined exceptions. Multithreading: Thread model, main
thread, creating a thread, Multiple threads, Thread priorities, synchronization, Inter
thread communication, String handling.</p>
<p>UNIT-III</p>
<p>Wrapper Classes: Number class, Character class, Boolean class. More utility classes:
Vector, Stack, Dictionary, Hash table. String Tokenizer, Bit set, Data Calendar.
Input/output: File, Stream classes, Byte Streams, Character Streams. GUI
Programming</p>
<p>UNIT-IV</p>
<p>Features Applets: Applet basics, Applet architecture, an applet skeleton, Applet
display method, Repainting, Using Status window, HTML APPLET tag, passing
parameters to applet, Audio Clip interface. Even Handling; two event handling
mechanisms, Event model, Event classes, sources of events, Event Listener interfaces,
Adapter classes. Introduction to SWING: Window Fundamentals, working with frame
windows, creating window programs, working with color, fonts, SWING Controls,
Layout Managers and Menus: Control fundamentals, Labels, Using buttons, check
box s, checkbox group, choice controls, lists, scroll bars, Text field, layout managers,
menu bars, and menus.</p>
<p>UNIT-V</p>
<p>Network Programming with Java: Networking classes and Interfaces, Internet
Address, Factory method, Instance Methods, Sockets, Knowing IP address URLURL Connection class. 
Creating a server that sends data, creating a client that
receives data, two way communications between server and client, Stages in a JDBC
program, registering the driver, connecting to a abase, Preparing SQL statements,
improving the performance of a JDBC program.</p>
{% endblock %}