{% extends 'abc.html' %}
{% block title %}mca105{% endblock %}
{% block content %}
<h1>  Accounting and Financial Management</h1>
<p>UNIT I</p>
<p>Introduction to Financial Accounting Concepts: Definition and concepts,
Significance, Branches of Accounting, Accounting Cycle-Journal – Ledger – Trial
Balance – Final accounts.</p>
<p>UNIT II</p>
<p>Cost Accounting: Elements of Cost, Nature and significance – Cost classification
and Allocation, Cost Sheet
– Method of Inventory Valuation.</p>
<p>UNIT III
Financial Management: Meaning, scope and role. Financial Analysis through Ratios:
Types of Ratios, Liquidity, Activity, Capital Structure and profitability ratio,
Limitations of Ratios.</p>
<p>UNIT IV</p>
<p>Working Capital Management: Nature, Elements and Importance of working capital,
types of working capital, Determinants of working capital.</p>
<p>UNIT V</p>
<p>Budgeting: Budgets, Purpose, Budgetary control, preparation of budgets, Types of
budgeting methods, difference between Master Budget, fixed and flexible budgeting.<p>


{% endblock %}