{% extends 'abc.html' %}

{% block title %}mca201{% endblock %}

{% block content %}
<h1> Computer Oriented Operations Research[COOR]</h1>
<p>UNIT - I</p>
<p>Linear Programming: Concept of Linear Programming Model, Development of LP
Model, Graphical Method,
Simplex Method, Duality, Formulation of Dual Problem, Application of Duality.</p>
<p>UNIT-II
Transportation Problem: mathematical Model for Transportation Problem, Types of
transportation problem, Finding the Initial Basic Solution, Optimal Solution by U-V
method, Assignment problem, Formulation of Assignment problem-Hungerian Method,
Method of Solution, Branch and Bound Technique for Assignment Problem.</p>
<p>UNIT-III</p>
<p>Network Techniques: Shortest-Path Model, Systematic Method- Dijkstra’s Algorithm,
Floyid’s Algorithm, Minimum Spanning Tree Problem, Prime Algorithm, Krusakal
algorithm, Maximal Flow Problem, Linear
Programming Modeling for Maximal Flow Problem, Maximal Flow Problem
Algorithm.</p>
<p>UNIT-IV</p>
<p>Games and Strategies : Two –Person Zero- Sum Games, Maxmin- Minimax
Principle, Games Without Saddle Points- Mixed Strategies, Graphic Solution Of 2 x
n, And m x 2 Games , Dominance Property, Arithmetic Model For n x n Games,
General Solution For m x n Rectangular Games.</p>
<p>UNIT – V</p>
<p>Queueing Theory: Queueing System, Elements of Queueing System, Operating
Characteristics of Queueing System, Probability Distributions In Queueing System,
Classification Of Queueing Models, Poisson Queueing Systems, Non Poisson
Queueing Systems. Network Scheduling by PERT / CPM: Rules o f Network
Construction, Critical Path Analysis, Probability Considerations in PERT.</p>
{% endblock %}