{% extends 'abc.html' %}

{% block title %}mca204{% endblock %}

{% block content %}
<h1> Advanced Database Management Systems[ADBMS]</h1>
<p>UNIT-I<.p>
<p>Introduction: Database- System Application – Purpose of Database Systems – View of
Data – Database Languages– Relational Databases – Database Design–Object– based
and Analysis – Database Architecture. Entity Relationship Model-Constraints-EntityRelationship Diagrams, Design Issue-Weak Entity Sets- Database Design for
Banking Enterprise and Unified Mod ling language. Structure of Relational Databases
- Relational Algebra Operation– Modification of the Database.</p>
<p>UNIT-II</p>
<p>SQL : Data Definition- Structure of SQL Queries- Set Operations- Aggregate
Functions- Nested Sub queries- Complex Queries – SQL Data Types and Schemas-
Integrity Constraints-Authorization- Embedded SQL- Dynamic SQL- -Authorization
in SQL.;PL/SQL Programming: Introduction, Control structures, functions, Exception
handling, Cursors, Triggers, Package.</p>
<p>UNIT-III</p>
<p>Object- Databases and XML: Object-based databases – Complex data types,
structured types and inheritance in SQL, table inheritance, array and Multiset types in
SQL, object identity and reference types in SQL, implementing O-R features,
Persistent programming languages, OO vs OR. XML – Structure of XML, Document
Schema, Querying and Transformation, API in XML, XML applications.</p>
<p>UNIT-IV</p>
<p>Query Processing: Measures of Query Cost-Selection Operation-Sorting-Joint
Operation-Evaluation of Expressions-Query Optimization: Transformation of
Relational Expressions-Estimating Statistics of Expression Results-Choice of
Evaluation Plans.</p>
<p>UNIT-V</p>
<p>Transactions: Transaction concept, Transaction State-Implementation of Atomicity
and Durability-Concurrent Executions- Serializability- Recoverability-Implementation
of Isolation-Testing for Serializability, Concurrency Control: Lock Based ProtocolsTimestamp-Based Protocols-Validation-Based Protocols- Multiple GranularityMultiversion Schemes. Deadlock handling-Insert and Delete Operations-Weak Levels
of Consistency-Concurrency in Index Structure</p>
{% endblock %}