{% extends 'abc.html' %}

{% block title %}mca203{% endblock %}

{% block content %}
<h1> DATA COMMUNICATION AND COMPUTER NETWORKS</h1>
<p>UNIT I</p>
<p>Introduction, Network models – Internet model, OSI model Physical Layer: Signals –
Analog, Digital, Digital Transmission – Coding, Sampling, Analog Transmission –
Modulation of digital and analog signal, Multiplexing – FDM, WDM, TDM,
Transmission Media – cable, wireless, Circuit switching and Telephone network, DSL
Technology, Cable modern, SONET.</p>
<p>UNIT II</p>
<p>Data Link Layer: Error detection and correction, Data link control and Protocols –
Stop and wait, Go-back-n, Selective repeat, HDLC, Point to point access, LANS –
Traditional Ethernet, Fast Ethernet, Wireless LAN’s – IEEE 802.11, Blue tooth,
Connecting LANs – Connecting devices, Backbone networks, Virtual LANS,
2G,3G,4G,5G wireless technologies, Satellite networks, Virtual circuit switching,
Frame relay, ATM.</p>
<p>UNIT III</p>
<p>Network Layer: Inter-networks, Addressing, Routing, Network layer Protocols, Types
of Internet protocols – ARP, IPV4, ICMP, IPV6, Routing – Introduction, Unicast
routing, Protocols – RIP, OSPF, BGP, Multicast Routing.</p>
<p>UNIT IV</p>
<p>Transport Layer: Process-to-Process Delivery, UDP, TCP, Data traffic, Congestion a d
Control, Quality of service (QOS) and techniques to improve QOS, Integrated
services, QOS in Switched Networks Security: Introduction. Symmetric-key and
Asymmetric cryptography, Key Management and Kerberos, Message security,
Digital signature, User authentication, E-mail Security, Web security, Social Issues.</p>
<p>UNIT V</p>
<p>Application Layer: Design issues, file transfer, accessed management. Client-Server
model, Socket interface Introduction to DNS, Distribution of name space, DNS IP the
Internet. Electronic mail, SMTP, File Transfer, FTP, HTTP, World Wide web, Video-
conferencing.</p>
{% endblock %}