{% extends 'abc.html' %}

{% block title %}mca301{% endblock %}

{% block content %}
<h1> Software Engineering</h1>
<p>UNIT I</p>
<p>Software and Software Engineering: Introduction, Software, Software Myths,
Software Engineering- Process:- Software Engineering, Software Processes models;
Evolutionary process Models, Component based development; Formal Methods Model,
Fourth generation Techniques. An Agile view of processes and Development:
Software Engineering practice – Software Engineering, communication, planning,
modeling construction practices and deployment.</p>
<p>UNIT II</p>
<p>System Engineering: Computer-based systems, the system engineering Hierarchy,
business process engineering, product engineering and system modeling. Building the
analysis model, Requirement analysis, modeling approaches, data modeling. Behavioral
model.</p>
<p>UNIT –III</p>
<p>Design Engineering: Design process and quality, design concepts the design model, and
pattern-used software design. Architectural design: Software architecture, data design,
architectural styles and patterns, architectural design mapping data flow into software
architecture. Component-based software engineering, Critical systems development,
Software reuse, User interface design, web apps design issues and architecture design.</p>
<p>UNIT –IV</p>
<p>Testing strategies: Strategies and issues, testing strategies for and object-oriented
software. Validation testing and system testing. Software testing tactics: Fundamentals,
black-box and white-box testing white-box testing basis path testing. Control structure
testing, Black-box testing, Object-oriented testing methods. Testing methods applicable
at the class level inter class testing case design.</p>
<p>UNIT V</p>
<p>Product Metrics: Software quality, framework, metrics for analysis model design model,
source case and testing. Managing Software Projects: The management spectrum, the
W5 HH principle, metrics in process, software measurement, Estimation: Observations,
Decomposition Techniques, Empirical Models, Estimation For Object-Oriented
Projects Other Estimation Techniques, Project Scheduling, Risk Management,
Reengineering.</p>
{% endblock %}