{% extends 'abc.html' %}

{% block title %}mca305{% endblock %}

{% block content %}
<h1> ARTIFICIAL INTELLIGENCE</h1>
<p>UNIT – 1</p>
<p>Introduction Concept of AI, history, current status, scope, agents, environments,
Problem Formulations, Review of tree and graph structures, State space representation,
Search graph and Search tree</p>
<p>UNIT II</p>
<p>Random search, Search with closed and open list, Depth first and Breadth first search,
Heuristic search, Best first search, A* algorithm, Game Search.</p>
<p>UNIT III</p>
<p>Probability, conditional probability, Constraint Satisfaction, Propositional Logic &
Satisfiability, Uncertainty in AI, Bayes Rule, Bayesian Networks- representation,
construction and inference, temporal model, hidden Markov model.</p>
<p>UNIT IV</p>
<p>MDP formulation, utility theory, utility functions, value iteration, policy iteration and
partially Observable MDPs.</p>
<p>UNIT V</p>
<p>Passive reinforcement learning, direct utility estimate adaptive dynamic
programming, temporal difference learning, active reinforcement learning- Q learning.
Introduction to Machine learning, Deep Learning.</p>
{% endblock %}