{% extends 'abc.html' %}

{% block title %}mca303{% endblock %}

{% block content %}
<h1> WEB TECHNOLOGIES</h1>
<p>UNIT I</p>
<p>Introduction to Internet-Browser Architecture-IE: Chrome-Search Engines-Introduction
to HTML-5-HTML-5 Tags-Audio, Video Tags – HTML-5 Forms-Controls-CSS
Styling-CSS Tags-Attributes.</p>
<p>UNIT II</p>
<p>Java Script-JQuery: JavaScript Programming Scripts- Control structures- FunctionsDocument, Browser, Date, Math, String objects-Events- JQuery Libraries-JQuery
Objects, Functions – JQuery Events-Animations.</p>
<p>UNIT III</p>
<p>AJAX Concepts: Simple AJAX objects-Ajax Libraries-Examples, Webservers IIS,
Tomcat-Hosting Website
in a Web servers.</p>
<p>UNIT IV</p>
<p>Introduction to PHP: Control Structures-Arrays-Functions-Database connectivityIntroduction to ZEND Framework and applications.</p>
<p>UNIT-V</p>
<p>Introduction to Java Servlets: Servlet classes and interfaces - Java Database
Connectivity- Introduction to JSP-Java Server Page scriptlets -JSP Objects-JSP Web
applications.</p>
{% endblock %}