{% extends 'abc.html' %}

{% block title %}mca304{% endblock %}

{% block content %}
<h1> Data Warehousing and Datamining</h1>
<p>UNIT I</p>
<p>Data warehousing and OLAP: Data Warehouse basic concepts, Data Warehouse
Modelling, Data Cube and OLAP: Characteristics of OLAP systems, Multidimensional
view and Data cube, Data Cube Implementations, Data Cube operations,
Implementation of OLAP and overview on OLAP Software.</p>
<p>UNIT II</p>
<p>Data Mining and its Applications : Introduction, What is Data Mining, Motivating
Challenges, Data Mining Tasks, Which technologies are used for data mining, Kinds of
pattern that can be mined, Data Mining Applications, Data Pre-processing, Data
cleaning, data integration, data redu on and data transformation.</p>
<p>UNIT III</p>
<p>Association Analysis: Basic Concepts and Algorithms : Frequent Item set
Generation, Rule Generation,
Compact Representation of Frequent Item sets, Alternative methods for generating
Frequent Item sets, FP Growth Algorithm, Evaluation of Association Patterns.</p>
<p>UNIT IV</p>
<p>Classification: Methods, Improving accuracy of classification: Basics, General
approach to solve classification problem, Decision Trees, Rule Based Classifiers,
Nearest Neighbor Classifiers. Bayesian Classifiers, Estimating Predictive accuracy of
classification methods, Improving accuracy of classification methods, Evaluation
criteria for classification method Multiclass Problem.</p>
<p>UNIT V</p>
<p>Clustering Techniques: Overview: Features of cluster analysis, Types of Data and
Computer Distance, Types of Cluster Analysis Methods, Partitioned Methods,
Hierarchical Methods, Density Based Methods, Quality and Validity of Cluster
Analysis.</p>
{% endblock %}