{% extends 'abc.html' %}

{% block title %}mca106{% endblock %}

{% block content %}
<h1> Essentials of Data Science</h1>
<p>UNIT I</p>
<p>Introduction: What is Data Science? - Big Data and Data Science, Statistical Inference - Populations
and samples - Statistical modeling, probability distributions, fitting a model - Intro to R Language.</p>
<p>UNIT II</p>
<p>Exploratory Data Analysis and the Data Science Process - Basic tools (plots, graphs and summary
statistics) of EDA - Philosophy of EDA - The Data Science Process - Case Study: Real Direct (online
real estate firm)</p>
<p>UNIT III</p>
<p>Feature Generation and Feature Selection (Extracting Meaning From Data) - Motivating application:
user (customer) retention - Feature Generation (brainstorming, role of domain expertise, and place for
imagination) - Feature Selection algorithms – Filters; Wrappers; Decision Trees; Random Forests.</p>
<p>UNIT IV</p>
<p>Data Visualization: Basic principles, ideas and tools for data visualization 3 - Examples of inspiring
(industry) projects - Exercise: create your own visualization of a complex dataset.</p>
<p>UNIT V</p>
<p>Data Science and Ethical Issues - Discussions on privacy, security, ethics - A look back at Data Science
- Next-generation data scientists</p>

{% endblock %}